<div class="">
  {% load humanize %}
  {% load static %}
    {% include "partials/filtering.html" %}
      {% include "partials/sorting.html" %}
  <!-- Piezas -->
{% if not piezas %}
<div class="flex flex-col items-center justify-center text-center bg-gray-50 p-8 rounded-lg shadow-lg">
  <p class="text-lg text-gray-700 font-semibold mb-4">
    No se encontró ninguna pieza para los filtros seleccionados
  </p>
  <img
    class="w-20 h-auto object-contain"
    src="{% static 'img/no-encontrado.png' %}"
    alt="No encontrado"
  />
</div>
{% endif %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% if piezas %} {% for pieza in piezas %}
    <a
      href="{{pieza.id}}"
      class="product bg-white border border-gray-200 rounded-lg shadow-lg p-4"
    >
      <div class="block w-full overflow-hidden rounded-lg">
        <img
          src="{{ pieza.imagen.url }}"
          alt="{{ pieza.titulo }}"
          class="w-full h-48 rounded-lg object-cover transition duration-300 hover:scale-[1.04]  mb-4"
        />
      </div>
      <h4 class="text-xl text-yellow-900 font-bold mb-2">{{ pieza.titulo|capfirst }}</h4>
      <p class="text-gray-600">Tipo de pieza: <b>{{ pieza.tipo }}</b></p>
      <p class="text-gray-600">Hecho por <b>{{ pieza.complete_name }}</b></p>
      <p class="text-gray-600">
        Precio: <b>{{ pieza.precio|floatformat:"0"|intcomma }}</b> $
      </p>
      
      <p id="stock-agotado" class="text-red-800 mx-2 {% if pieza.stock > 0 %} hidden {% endif %}">
        Agotado
      </p>
    </a>
    {% endfor %} 
    {% endif %}
  </div>
</div>
