{% extends 'base.html' %}
 {% block title %} Registrarse en Cerámica artesanal {% endblock %} 


{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	<h2>Registrate en Cerámica artesanal</h2>

	{% for field in form %}
  <p>
     {% if field.errors %}
     <ul class="errorlist">
       {% for error in field.errors %}
       <li>{{ error }}</li>
       {% endfor %}
     </ul>
     {% endif %}
     {% if field.name == "username" %}
	<div>Nombre de usuario o usuaria:</div> 
   <div>{{ field }}</div>
     {% elif field.name == "password2" %}
	<div>Confirmar contraseña:</div> 
   <div>{{ field }}</div>
     {% else %}
	<div>{{ field.label_tag }}</div> 
   <div>{{ field }}</div>
     {% endif %}
	</p>
	{% endfor %}
	<input type="submit" value="Registarse" />
</form>
{% endblock content%}
