{% extends "base.html" %}
{% load static %}
<!-- Titulo -->
{% block title %}   
  {{ pieza.titulo.capitalize }} - Detalles   
{% endblock %}
<!-- JavaScript -->
{% block extra_head %}   
    <script>
    const selectedProductId = "{{ pieza.id }}"
    </script>
    <script type="module" defer src="{% static 'js/cart/add-to-shopping-cart.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container mx-auto p-6">
  <div class="flex flex-col  items-center md:items-start md:space-x-6">
    {% load humanize %} 
    <!-- Imagen -->
    <div class="max-w-lg">
      <img src="{{ pieza.imagen.url }}" alt="{{ pieza.titulo }}"  class="rounded-lg shadow-md">
    </div>

    <!-- Detalles -->
    <div class="md:w-2/3 mt-4 md:mt-0">
      <h1 class="text-2xl font-bold mb-4">{{ pieza.titulo.capitalize }}</h1>
      
      <p class="text-gray-600 mb-2">
        <span class="font-medium">Tipo de pieza:</span> <b>{{ pieza.tipo }}</b>
      </p>
      
      <p class="text-gray-600 mb-2">
        <span class="font-medium">Hecho por:</span> <b>{{ pieza.complete_name }}</b>
      </p>
      
      <p class="text-gray-600 mb-2">
        <span class="font-medium">Descripción:</span>
      </p>
      <p class="font-medium text-gray-900  mb-4">{{ pieza.descripcion }}</p>
      
      <p class="text-gray-600 mb-4">
        <span class="font-medium">Precio:</span> 
        <span class="text-gray-900 font-bold text-xl">{{ pieza.precio|floatformat:"0"|intcomma }} $</span>
      </p>
      
      <p class="text-gray-600 mb-4">
        <span class="font-medium">Disponibilidad:</span> 
        <span id="stock-disponible" class="{% if pieza.stock > 0 %} text-green-700 {% else %}text-red-800{% endif %}">
          {% if pieza.stock > 0 %}  
          {% if user.is_authenticated %}
            
          En stock ({{ pieza.stock }} disponibles)  

                    {% else  %}
          En stock (<span id="stock-cantidad">{{ pieza.stock }}</span> disponibles)  

          <div id="mensaje-no-mas-stock"
               class="hidden p-4 mb-4 text-red-800 bg-red-100 border-solid border-red-800 rounded-lg shadow">
              No queda más stock de {{ pieza.titulo.capitalize }}
          </div>


          {% endif %}
          
          {% else %}  
          Agotado  
          {% endif %}
        </span>
      </p>
      
      <!-- Botón de compra -->
      <div class="container flex flex-col">
{% if pieza.stock > 0 %}
    {% if user.is_authenticated %}
                 {% if pieza.stock > cantidad_en_carrito %}
        <form action="{% url 'AddToCart' pieza.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-yellow-700 border border-red-800 text-white px-4 py-2 rounded-lg hover:bg-yellow-800 focus:ring focus:ring-yellow-300">
                Agregar al carrito
            </button>
        </form>
                {% else %}
        <form action="{% url 'AddToCart' pieza.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-gray-500 border border-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-500 focus:ring focus:ring-gray-300" disabled>
                        No queda más stock de {{pieza.titulo.capitalize}} 

            </button>
        </form>


                {% endif %}
    {% else %}
        <button id="boton-de-agregar-al-carrito" class="bg-yellow-700 border border-red-800 text-white px-4 py-2 rounded-lg hover:bg-yellow-800 focus:ring focus:ring-yellow-300">
            Agregar al carrito
        </button>
    {% endif %}
{% else %}
    <button class="bg-gray-500 text-white px-4 py-2 rounded-lg cursor-not-allowed" disabled>
        No disponible
    </button>
{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
